/* App.css */
.app-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    white-space: pre-line;
    gap: 40px;
}

.left-side {
    flex: 1; /* Takes up 50% of the available width */
    padding: 20px;
    background-color: #f0f0f0; /* Background color for the left side */
    border: 1px solid #ddd; /* Add borders or other styling as needed */
    border-radius: 25px;
}

.right-side {
    flex: 1; /* Takes up 50% of the available width */
    padding: 20px;
    background-color: #f0f0f0; /* Background color for the right side */
    border: 1px solid #ddd; /* Add borders or other styling as needed */
    border-radius: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&family=Poppins:wght@600&display=swap');

body {
    background: #d5e0ff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.header-title {
    color: #493197;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

.App {
    display: flex;
    flex-direction: column;
    background-color: #f3f3fa;
    height: 100vh;
}
.header-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
}
.body-container {
    display: flex;
    margin: auto;
    flex-grow: 1;
    gap: 8vw;
    padding: 3vh;
    height: 100%;
}

.app-container {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 30px;
    flex-direction: column;
    gap: 20px;
    background-color: #d5e0ff;
    border-radius: 20px;
}

h1, h2 {
    color: #493197;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titles{
    margin-top: -5px;
    text-align: center;
}
.titles-scan{
    margin-bottom: 2vw;
    text-align: center;
}

input {
    text-align: center;
}

img{
    width: 40px;
    height: 20%;
}

button {
  background-color: #988ee3; /* Light blue color */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding for the button */
  border: none; /* Remove the default button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  align-self: flex-end;
}
button:hover {
  background-color: #bfbae8; /* Lighter blue color on hover */
}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
    /* height: 50vw; */
    /* justify-content: space-around; */
    /* overflow: auto; */
}

.right-side{
    /* min-height: 50vw; */
    /* justify-content: space-between; */
}

p{
    font-size: 15px;
}