@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@500&family=Poppins:wght@600&display=swap');
body {
  background: #CCDFCB;
  font-size: 20px;
}

.header-title {
  color: #493197;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #f3f3fa;
  height: 100vh;

}

.main-content {
  display: flex;
  flex-grow: 1;
  padding: 3vh;
}

.upload-container {
  display: flex;
  margin: auto;
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  background-color: #d5e0ff;
  border-radius: 20px;
}

h1, h2{
  color: #493197
}

input{
  text-align: center;
}
